<header>
    <div class="logo"><img src="{{ url_for('static', filename='image/logo.png') }}" alt="">PokeClinic</div>
    <nav>
        <ul style="font-family: Cambria, sans-serif;">
            <li><a href="/">Home</a></li>
            <li><a href="/examine">Register Now {{ current_user.user_role }}</a></li>
            {% if current_user.user_role is UserRole.BacSi %}
                <li><a href="/doctorform">Make Examine</a></li>
            {% endif %}
            {% if current_user.user_role is UserRole.ThuNgan %}
                <li><a href="/receipt"> Receipt</a></li>
            {% endif %}
            {% if current_user.user_role is UserRole.YTa %}
                <li><a href="/list">Make Examine List</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
            <li>
                    <a href="/">
                        <img src="{{ current_user.avatar }}" width="35" class="rounded-circle" />
                        Chào {{ current_user.name }}.
                    </a>
                </li>
            <div>
                <li>
                    <a class="btn-login" href="/logout">Đăng xuất</a>
                </li>
            </div>
            {% else %}
            <div>
                <li><a href="/login" class="btn-login">Đăng nhập</a></li>
            </div>
            {% endif %}
        </ul>
    </nav>
</header>