{% extends 'layout/base.html' %}

{% block title %}
    <title>TRANG CHỦ</title>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
{% endblock %}

{% block content %}
<section class="hero">
        <div class="hero-text">
            <p style="color: grey">Phòng khám PokeClinic - Phòng khám đa khoa </p>
            <h1>Một cơ thể khỏe mạnh là ngôi nhà của một tâm hồn mạnh mẽ.</h1>
            <p style="color: grey">Bắt đầu khám phá.</p>
            <div class="hero-buttons">
                <i class="fa-solid fa-down-long"></i>
            </div>
        </div>
        <div class="hero-image">
            <img alt="" src="{{ url_for('static', filename='image/doctor.png') }}" />
            <div class="overlay">
                <p>Cùng chúng tôi hướng tới một tương lai tốt đẹp!</p>
                <a href="/examine"><button >Đặt lịch khám</button></a>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="services">
            <h2>
                Các Dịch Vụ Của Chúng Tôi
            </h2>
            <div class="service-cards">
                <div class="service-card">
                    <i class="fas fa-user-md">
                    </i>
                    <h3>
                        Bác sĩ tư vấn
                    </h3>
                    <p>
                        Chúng tôi cung cấp dịch vụ tư vấn trực tuyến với đội ngũ bác sĩ chuyên nghiệp, giúp bạn giải đáp
                        mọi thắc mắc về sức khỏe một cách nhanh chóng và chính xác.
                    </p>
                </div>
                <div class="service-card">
                    <i class="fas fa-calendar-check">
                    </i>
                    <h3>
                        Đặt lịch khám bệnh </h3>
                    <p>PokeClinc giúp khách hàng dễ dàng đặt lịch khám bệnh trực tuyến, tiết kiệm thời gian và đảm bảo
                        sự thuận tiện trong việc khám chữa bệnh.</p>
                </div>
                <div class="service-card">
                    <i class="fas fa-ambulance">
                    </i>
                    <h3>
                        Hỗ trợ cấp cứu
                    </h3>
                    <p>
                        Dịch vụ hỗ trợ cấp cứu của chúng tôi hoạt động 24/7, sẵn sàng tiếp nhận và xử lý mọi tình huống
                        khẩn cấp một cách nhanh chóng và hiệu quả.
                    </p>
                </div>
                <div class="service-card">
                    <i class="fas fa-headset">
                    </i>
                    <h3>Hỗ Trợ 24/7 </h3>
                    <p>Chúng tôi cung cấp dịch vụ chăm sóc sức khỏe trực tuyến liên tục, luôn sẵn sàng hỗ trợ bạn bất cứ
                        lúc nào, bất kỳ đâu, với đội ngũ nhân viên giàu kinh nghiệm</p>
                </div>
            </div>
        </div>


        <div class="why-choose-us">
            <div class="why-choose-us-text">
                <h3>Tạo sao nên chọn chúng tôi?</h3>
                <h2>
                    Chúng tôi sẽ giúp gia đình bạn chăm sóc sức khỏe dễ dàng hơn </h2>
                <p>
                    "Với đội ngũ bác sĩ giàu kinh nghiệm và trang thiết bị hiện đại, phòng khám của chúng tôi cam kết
                    mang đến dịch vụ chăm sóc sức khỏe chất lượng cao. Hãy đến với chúng tôi để cảm nhận sự khác biệt và
                    yên tâm về sức khỏe của bạn!"</p>
                <div class="buttons">
                    <a class="learn-more" href="#">Tìm Hiểu Thêm</a>
                    <a class="watch-video" href="#">Xem Video</a>
                </div>
            </div>
            <div class="doctor-image">
                <img alt="" height="300"
                    src="https://storage.googleapis.com/a1aa/image/VWBQYfiaGUSqMqI7cv87JiLAeEvgwBoNvmHaPHV4muwLWh8TA.jpg"
                    width="300" />
                <div class="stats">
                    60k+
                    <br />
                    Bệnh Nhân Đã Được Giúp Đỡ
                </div>
                <div class="stats bottom">
                    560+
                    <br />
                    Đối Tác Y Tế
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->

    <div class="contact-form-container">
        <div class="contact-form-section">
            <h1 class="contact-form-title">Liên hệ </h1>
            <p class="contact-form-description">
                Bạn muốn hợp tác hoặc trò chuyện trực tiếp, hãy liên hệ
                với chúng tôi hoặc điền vào biểu mẫu, chúng tôi sẽ phản hồi bạn một cách nhanh chóng.</p>
            <form>
                <div class="contact-form-group">
                    <label class="contact-form-label">Tên </label>
                    <input class="contact-form-input" type="text" />
                </div>
                <div class="contact-form-group">
                    <label class="contact-form-label">Email
                    </label>
                    <input class="contact-form-input" type="email" />
                </div>
                <div class="contact-form-group">
                    <label class="contact-form-label">Lời nhắn gởi</label>
                    <textarea class="contact-form-textarea" placeholder="Nhập vào đây diều bạn muốn nói..."
                        rows="4"></textarea>
                </div>
                <button class="contact-form-submit-button" type="submit">Gởi lời nhắn</button>
            </form>
        </div>
        <div class="contact-info-section">
            <img alt="Decorative image with envelope, chat bubble, and paper plane" class="contact-info-image"
                height="300"
                src="https://storage.googleapis.com/a1aa/image/542S5JgPzYJMB9fD4OfqZYKoISgXmxaaknojrX6pbQcnlv8TA.jpg"
                width="300" />
            <div class="contact-info-item">
                <i class="fas fa-map-marker-alt contact-info-icon"></i>
                <span>70/8 Trần Thị Liền, Phước Kiển, Nhà Bè, TP.HCM</span>
            </div>
            <div class="contact-info-item">
                <i class="fas fa-phone-alt contact-info-icon"></i>
                <span>0947XXXXXX</span>
            </div>
            <div class="contact-info-item">
                <i class="fas fa-envelope contact-info-icon"></i>
                <span>PokeClinic@gmail.com</span>
            </div>
            <div class="contact-social-icons">
                <a class="contact-icon-link" href="#"><i class="fab fa-facebook"></i></a>
                <a class="contact-icon-link" href="#"><i class="fab fa-twitter"></i></a>
                <a class="contact-icon-link" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
{% endblock %}