{% extends 'layout/base.html' %}

{% block title %}
    <title>LẬP HÓA ĐƠN</title>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/receipt.css') }}"/>
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<h1 class="text-center text-danger mt-5">DANH SÁCH PHIẾU KHÁM CHƯA THANH TOÁN</h1>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Mã Phiếu Khám</th>
                <th>Tên Bệnh Nhân</th>
                <th>Ngày Khám</th>
                <th>Hành Động</th>
            </tr>
        </thead>
        <tbody>
            {% for phieu in unpaid_phieukham %}
            <tr>
                <td>{{ phieu.id }}</td>
                <td>{{ phieu.benh_nhan_name }}</td>
                <td>{{ phieu.date_kham.strftime('%d-%m-%Y') }}</td>
                <td>
                    <button  onclick="getPhieuKham({{ phieu.id }})" class="btn btn-primary">Lập hóa đơn</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="container">
    <h1 class="text-center text-danger mt-5">LẬP HÓA ĐƠN</h1>
<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="invoice-title">
                        <h4 class="float-end font-size-15">Thu ngân: {{ thu_ngan_name if thu_ngan_name else 'None' }} </h4>
                        <div class="mb-4">
                           <h2 class="mb-1 text-muted">POKE CLINIC</h2>
                        </div>
                        <div class="text-muted">
                            <p class="mb-1">1999 Lê Văn Lương, Phước Kiển, Nhà Bè</p>
                            <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> pokeclinic@gmail.com</p>
                            <p><i class="uil uil-phone me-1"></i> 0999-999-999</p>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Bệnh nhân:</h5>
                                <h5 class="font-size-15 mb-2" id="benh_nhan_name">{{ benh_nhan_name if benh_nhan_name else 'None' }}</h5>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                            <div class="text-muted text-sm-end">
                                <div>
                                    <h5 class="font-size-15 mb-1" >Mã phiếu khám:</h5>
                                    <p id="phieu_kham_id">{{ phieu_kham_id if phieu_kham_id else 'None' }}</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1" >Ngày khám:</h5>
                                    <p id="date_kham">12 Oct, 2020</p>
                                </div>
                                <div>
                                    <h5 class="font-size-15 mb-1" >Tiền khám:</h5>
                                    <p id="tien_kham">{{ tien_kham if tien_kham else 'None' }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="py-2">

                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">Tổng cộng</th>
                                        <td class="border-0 text-end"><h4 id="tong_tien"  class="m-0 fw-semibold">{{ tong_tien if tong_tien else 'None' }}</h4></td>
                                    </tr>

                        </div><!-- end table responsive -->
                        <div class="d-print-none mt-4">
                                <div class="float-end">
                                <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                <button onclick="redirectToHoaDon()"  type="submit" class="btn btn-primary w-md">Xuất hóa đơn</button>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>
</div>
{% endblock %}